@import '~bootstrap/scss/bootstrap.scss';
#TARGET_ELEMENT {
  height: 300px;
  width: 100%;
  background: transparent;
}

body {
  overflow-x: hidden;
}

.fish-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.25rem;
  margin-bottom: 48px;
  background: #ffeed3;
  text-align: center;
  border: none;
  i {
    position: absolute;
    color: #d67b76;
    font-size: 24px;
    top: 15px;
    right: 18px;
  }
}

.fish-img-box {
  margin: 0 auto;
  overflow: hidden;
}

.fish-product-img {
  width: 100%;
  height: 245px;
  transition: ease-in-out 0.7s;
}

.fish-card-body {
  padding: 0;
}

.fish-card-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 2.4px;
  line-height: 35px;
  color: #cdaa8a;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.fish-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 17px;
  padding: 0 15px;
}
.fish-fav-mt {
  margin: 2px auto 50px auto;
}
.fish-product-hr {
  margin: 0 auto 10px;
  width: 28.5px;
  background-color: #cdaa8a;
}

.fish-product-price {
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 23px;
}
.fish-product-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 17px;
  padding: 0 15px;
}
